.drawing-canvas {
    background: black;
    outline: #a81ba4 10px solid;
    margin-bottom: 10px;
}

/* buttons */
button {
    background-color: #2668be;
    border: 0px solid black;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: Consolas;
    height: 30px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

button:hover {
    background-color: #3184c0;
}

.button-green {
    background-color: #00b16a;
}

.button-green:hover {
    background-color: #2fc988;
}

.button-red {
    background-color: #f03434;
}

.button-red:hover {
    background-color: #f22613;
}

/* CSS gradient */
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Consolas";
    color: #fff;
    background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container-item {
    /* max-width: 80%; */
    margin: 5px;
}
