.drawing-canvas {
    background: black;
    outline: #c01d7c 10px solid;
    margin-bottom: 10px;
}

.predicted-digit {
    /* font-family: Oxygen; */
    font-weight: bolder;
    font-size: 100px;
}

/* buttons */
button {
    background-color: #2668be;
    border: 0px solid black;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: Consolas;
    height: 30px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

button:hover {
    background-color: #3184c0;
}

.button-green {
    background-color: #00b16a;
}

.button-green:hover {
    background-color: #2fc988;
}

.button-red {
    background-color: #f03434;
}

.button-red:hover {
    background-color: #f22613;
}

/* CSS gradient */
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Consolas";
    color: #fff;
    background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container-item {
    margin: 5px;
}

/* Flip card */
.flip-card {
    background-color: transparent;
    width: 600px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: rgb(91, 209, 97); */
    background: linear-gradient(90deg, #1d976c, #93f9b9);
    /* color: black; */
}

.flip-card-back {
    /* background-color: #2980b9; */
    background: linear-gradient(90deg, #ff5f6d, #ffc371);
    /* color: white; */
    transform: rotateY(180deg);
}
